:root {
      --mau: #f44336;
      --mau2: #009688;
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

/* todo common */
.mau_trang {
      color: white !important;
}

.mt-32 {
      margin-top: 32px;
}

.mt-8 {
      margin-top: 8px !important;
}

.mt-16 {
      margin-top: 16px !important;
}

html {
      /* ? hành vi cuộn */
      scroll-behavior: smooth; 
      font-family: Helvetica, sans-serif;
}

.row {
      margin: 0px -8px;
      /* ?Nếu sai thì đổi thành m-l và mr */
}

.row::after{
      content: "";
      display: block;
      clear: both;
}

.clo {
      float: left;
      padding: 0px 8px;
      /* ?Nếu sai thì đổi thành m-l và mr */
}

.clo-thrid {
      width: calc(100% /3);
}

.clo-harf {
      width: 50%;
}

.clo-full {
      width: 100%;
}

.text-center {
      text-align: center !important;
}
/*! main */

#nav .iconXuong {
      font-size: 14px;
}

/* #nav > a > i {
      color: white;
} */
#main {}

.clear {
      clear: both;
}

#header {
      height: 46px;
      background-color: #000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      /* overflow: hidden; */
}

#nav>li {
      display: inline-block;
}

#nav,
.subnav {
      list-style-type: none;
      display: inline-block;
}

#nav li {
      position: relative;
}

#nav>li>a {
      color: white;
      /* ? Chỉnh chử thành in hoa hoặc in thường*/
      text-transform: uppercase;

}

#nav li a {
      text-decoration: none;

      line-height: 46px;
      padding: 0px 24px;
      display: block;
      /* font-variant: small-caps; */
}

#nav li:hover .subnav {
      display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
      color: #000;
      background-color: #ccc;
}

#nav .subnav {
      /* ? Cái này để ẩn đi phần con*/
      display: none;
      position: absolute;
      min-width: 160px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
      color: #000;
      /* display: block; */
      padding: 0px 16px;
      line-height: 38px;
}

#header .moble-menu-btn,
#header #search-btn {
      float: right;
      /* line-height: 46px; */
      padding: 0px 21px;
}

#header .moble-menu-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
}

#header #search-btn:hover {
      background-color: #f44336;
      cursor: pointer;
}

#header .moble-menu-btn:hover {
      background-color: #ccc;
}

#header .moble-menu-btn:hover .menu-icon{
      color: #000;
}

#header .menu-icon,
#header .search-icon {
      color: #fff;
      line-height: 46px;
      font-size: 20px;
}

/* #nav .subnav li:hover {
      color: #000;
      background-color: #ccc;
} */

#slider {
      position: relative;
      margin-top: 46px;
      padding-top: 50%;
      background: url('../image/chicago.jpg') no-repeat top center / cover, url('/image/noImage.png') no-repeat center / cover;
}

#slider .text-content {
      position: absolute;
      color: white;
      bottom: 0;
      padding: 47px;
      width: 100%;
      text-align: center;
}

#slider .text-desciption {
      margin-top: 25px;
      font-size: 15px;
}

#slider .text-heading {
      font-weight: 500;
      font-size: 24px;
}


#content {}

#content .content-section {
      width: 800px;
      max-width: 100%;
      padding: 64px 0px 112px;
      /* !Cach 1 */
      /* margin: 0 auto;  */
      /* !Cach 2 */
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 16px;
}

#content .content-section .section-heading {
      text-align: center;
      margin: 10px 0px;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 4px;
      font-size: 30px;
}

#content .content-section .section-sub-heading {
      text-align: center;
      font-style: italic;
      font-size: 15px;
      opacity: 0.6;
      margin-top: 25px;
}

#content .content-section .about-text {
      text-align: justify;
      margin: 15px 0;
      font-size: 15px;
      margin-top: 25px;
      line-height: 1.4;
}

#content .member-list {
      margin-top: 32px;
}

/* #content .member-item {
      float: left;
      text-align: center;
      width: calc(100% / 3);
} */

#content .member-list .member-name {
      font-size: 15px;
}

#content .member-list .member-img {
      margin-top: 15px;
      width: 154px;
      border-radius: 5px;
}

#content .tour-section {
      background-color: #000;
}

.tickets-list {
      background-color: #fff;
      margin-top: 40px;
}

.tickets-list li {
      color: #757575;
      font-size: 15px;
      padding: 11px 16px;
      border-bottom: 1px solid #ddd;
      list-style-type: none;
}

.tickets-list .sold-out {
      background-color: var(--mau);
      color: #fff;
      padding: 3px 4px;
      margin-left: 16px;
}

.tickets-list .quantity {
      float: right;
      background-color: #000;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      color: white;
      margin-top: -3px;
}

/* ! places */

.places-list {
      margin-top: 16px;
      /* margin-left: -8px;
      margin-right: -8px; */
}

.places-list .place-item {
      width: calc(100% /3);
}

.place-img {
      width: 100%;
      display: block;
}

.place-img:hover {
      cursor: pointer;
      opacity: 0.6;
}

.place-content {
      padding: 16px;
      background-color: #fff;
      font-size: 15px;
}

.place-content .place-heading {
      margin: 15px 0px;
      font-size: 15px;
      font-weight: 550px;
}

.place-content .place-time {
      margin-top: 15px;
      opacity: 0.6;
}

.place-content .place-desc {
      margin-top: 15px;
      line-height: 1.4;
}

.place-content .place-buy-btn {
      background-color: #000;
      text-decoration: none;
      padding: 11px 16px;
      display: inline-block;
      margin-top: 15px;
      color: #fff;
}

.place-content .place-buy-btn:hover {
      cursor: pointer;
      color: #000;
      background-color: #ccc;
}

.contact-content {
      margin-top: 48px;
}

.contact-info {
      font-size: 18px;
      line-height: 1.5;
}

.contact-info i[class*="ti-"] {
      width: 30px;
      display: inline-block;
}

.contact-form {
      font-size: 15px;
}

.contact-form .form-control {
      padding: 11px;
      border: 1px solid #ccc;
      width: 100%;
}

.form-submit-btn {
      color: #fff;
      padding: 10px 16px;
      background-color: #000;
      border: none;
      float: right;
}

.form-submit-btn:hover {
      cursor: pointer;
      color: #000;
      background-color: #cccf;
}

/* !todo begin map section */

.map-section img{
      width: 100%;
}

/* !todo end map section */

#footer{
      padding: 64px 16px;
      text-align: center;
}
#footer .social-list{
      font-size: 22px;
}

#footer .social-list a {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: none;
}
.copyright a:hover,
#footer .social-list a:hover {
      opacity: 0.5;
}

.copyright {
      font-size: 15px;
      margin-top: 15px;
      color: rgba(0, 0, 0, 0.6);
}

.copyright a {
      color: rgba(0, 0, 0, 0.6);
}
/* !Cai nay cua modal */

.modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      align-items: center;
      justify-content: center;
      display: none;
}

.modal.open{
      display: flex;
}

.modal-container {
      background: #fff;
      width: 900px;
      max-width: calc(100% - 32px);
      min-height: 200px;
      position: relative;
      animation: modalFaceIn ease 1s;
}

.modal-close {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      padding: 12px;
      cursor: pointer;
      opacity: 0.8;
      /* transition: 0.5s; */
}

.modal-close:hover {
      /* transform: scale(0.9); */
      opacity: 1;
      background-color: red;
}

.model-header {
      background: #009688;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: #fff;
}

.model-header .modal-heading-icon {
      margin-right: 16px;
}

.modal-body {
      padding: 16px;
}

.modal-label {
      display: block;
      font-size: 15px;
      margin-bottom: 12px;
}

.modal-input {
      border: 1px solid #ccc;
      width: 100%;
      padding: 10px;
      font-size: 15px;
      margin-bottom: 20px;
}

#buy-tickets {
      background-color: var(--mau2);
      border:   none;
      color: white;
      width: 100%;
      font-size: 15px;
      text-transform: uppercase;
      padding: 18px;
      transition: 0.5s;
}

#buy-tickets:hover {
      transform: scale(0.98);
      cursor: pointer;
      opacity: 0.9;
}

.modal-footer {
      padding: 16px;
      text-align: right;
}

.modal-footer a {
      color: #2196f3;
}

@keyframes modalFaceIn {
      from {
            opacity: 0;
            transform: translateY(-150px);
      }

      to {
            opacity: 1;
            transform: translateY(0);
      }
}